.form__container {
  display: flex;
  flex-direction: column;
}

.form__container label {
  font-weight: 700;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form__container input[type='text'] {
  margin-bottom: 1.5rem;
  padding: 1rem 2rem;
  border: 1px solid var(--gray);
  border-radius: 5px;
}
.form__container input[type='text']:focus {
  outline: none;
  border: 1px solid var(--charcoal);
}

.form__container input[type='submit'] {
  padding: 1rem 2rem;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background-color: var(--dark-gray);
  color: var(--white);
  font-weight: 700;
}

.form__container input[type='submit']:hover {
  background: linear-gradient(to left, rgb(255, 137, 74), var(--tomato));
}

.error {
  color: var(--tomato);
}

input .error {
  border-color: var(--tomato);
  background-color: rgb(213, 81, 72);
}
