@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  /* Primary color */
  --tomato: hsl(4, 100%, 67%);

  /* Neutral colors */
  --dark-gray: hsl(234, 29%, 20%);
  --charcoal: hsl(235, 18%, 26%);
  --gray: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);

  /* Font-family */
  --font: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
}
